<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LetterDrop</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-icons.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/vanilla-ujs.min.js"></script>
  </head>
  <body>
    <section class="section section-header bg-gray">
      <section class="grid-header container grid-960">
        <nav class="navbar">
          <section class="navbar-section">
            <a class="navbar-brand mr-10" href="/">LetterDrop</a>
            {% if currentUser %}
            <a class="btn btn-link" href="/forms">Forms</a>
            {% endif %}
          </section>

          <section class="navbar-section">
            {% if currentUser %}
            <a class="btn btn-link" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-link" href="/login">Login</a>
            <a class="btn btn-link" href="/signup">Sign up</a>
            {% endif %}
          </section>
        </nav>
      </section>
    </section>

    <div class="container grid-960">
      <div class="columns">
        <div class="docs-content column col-12">
          {% for f in flashes %}<div class="toast">{{ f }}</div>{% endfor %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script type="text/javascript">
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'weatherglass-tracker';
        t.setAttribute('data-site-id', '2');
        t.src = "https://weatherglass.herokuapp.com/track.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
