{% extends "../layouts/public.html" %}

{% block content %}
<h1>Forms</h1>

<a class='btn btn-primary' href="/forms/new">Create Form</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Responses</th> -->
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
  {% for form in forms %}
  <tr>
    <td>
      <a href='/forms/{{ form.Id}}'>{{ form.Name }}</a>
    </td>
    <!-- <td>{{ form.Responses }}</td> -->
    <td>{{ form.Uuid}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table> 
{% endblock %}
