{% extends "../layouts/public.html" %}

{% block content %}
<h1>Forms</h1>

<a class='btn btn-primary' href="/forms/new">Create Form</a>

<br>
<br>

<div class='list-gropu'>
  {% for form in forms %}
  <a href='/forms/{{ form.id}}' class='list-group-item'>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ form.name }}</h5>
    </div>
    <p class="mb-1">Description goes here.</p>

    {{ form.created_at }}
    {{ form.updated_at }}
  </a>
  {% endfor %}
</div> 
{% endblock %}
