{% extends "../layouts/public.html" %}

{% block content %}
<h1>{{ form.Name }}</h1>
<p>{{ form.Description }}</p>

<dl>
  <dt>UUID</dt>
  <dd>{{ form.Uuid }}</dd>

  {% if form.RecaptchaSecretKey %}
    <dt>ReCaptcha Secret Key</dt>
    <dd>{{ form.RecaptchaSecretKey }}</dd>
  {% endif %}
</dl>

<a href="/forms/{{ form.Id }}/edit" class="btn btn-primary">Edit Form</a>

<h4>Submissions</h4>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  {% for submission in submissions %}
  <tr>
    <td>{{ submission.Id }}</td>
    <td>{{ submission.Body }}</td>
    <td>
      <a class="btn btn-sm btn-danger" href="/forms/{{ form.Id }}/submissions/{{ submission.Id }}" data-method="DELETE" rel="nofollow"><i class="icon icon-cross"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
